body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #577c78;
}

header {
  background-color: #2f4f4f;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

header h1 {
  margin: 0;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  font-size: 25px;
  margin-right: 20px;
}

nav li {
  margin-left: 20px;
}

nav a {
  color: white;
  text-decoration: none;
}

.container {
  margin: auto;
  padding: 0 20px;
}

section {
  padding-top: 10px;
  padding-bottom: 30px;
}

#welcome {
  background-color: #577c78;
  text-align: center;
  color: white;
}

#welcome img {
  width: 100%;
  max-width: 500px;
  border-radius: 10px;
}

#about,
#portfolio,
#contact {
  background-color: #8aa6a3;
}

#skills,
#contact {
  background-color: #577c78;
  margin-bottom: 20px;
}

#about img {
  width: 100%;
  max-width: 350px;
  border-radius: 10px;
  margin: 20px 0;
}

#skills .skill {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

#skills .skill span {
  width: 100px;
}

#skills .skill .progress {
  width: 100%;
  height: 20px;
  background-color: #ddd;
  position: relative;
  border-radius: 10px;
}

.titel {
  font-size: 40px;
  color: white;
  text-align: center;
  font-weight: 600;
}

.skillTitle {
  color: white;
  font-weight: 600;
  text-align: center;
  margin: 20px 0;
}

#skills .skill .progress .progress-bar {
  height: 100%;
  background-color: #88faa4;
  position: absolute;
  border-radius: 10px;
}

.portfolio-item {
  background-color: #b0c4de;
  padding: 20px;
  border-radius: 10px;
  margin: 10px;
  flex: 1;
}

.link::after,
.link::before {
  content: "";
  width: 0%;
  height: 5px;
  transition: 0.5s;
  margin-bottom: 60px;
  margin-top: 60px;
  padding-bottom: 0px;
}

.link:hover::after,
.link:hover::before {
  width: 100%;
}

.Instagram,
.Twitter {
  font-size: 20px;
  width: 200px;
  height: 50px;
  border-radius: 5px;
  margin-top: 100px;
  text-align: center;
  border: none;
  outline: none;
  transition: ease-out 0.3s;
}

.Instagram {
  color: black;
  background-color: black;
  background-image: linear-gradient(to right, rgb(214, 65, 214), yellow);
  box-shadow: inset 0 0 0 0 white, inset 0 0 0 0 black;
}

.Instagram:hover {
  box-shadow: inset -200px 0px 0 -100px white, inset 200px 0px 0 -100px black;
  color: white;
}

.Twitter {
  color: white;
  background-color: black;
  box-shadow: inset 0 -50px 0 -25px rgb(59, 154, 225),
    inset 0 50px 0 -25px rgb(59, 154, 225);
}

.Twitter:hover {
  box-shadow: inset 0 0 0 0 rgb(59, 154, 225), inset 0 0 0 0 rgb(59, 154, 225);
  color: rgb(0, 0, 0);
}

.links {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 0;
}

.form {
  width: 100%;
  max-width: 800px;
  margin: auto;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.input,
.inputNachricht {
  width: 100%;
  box-sizing: border-box;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px;
}

.inputNachricht {
  height: 90px;
}

.submit {
  width: 100%;
  box-sizing: border-box;
  color: #000000;
  background-color: #88faa4;
  margin-top: 20px;
  height: 40px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submit:hover {
  background-color: #77e895;
}

.info-box {
  border-radius: 10px;
  background-color: #2f4f4f;
  color: white;
  padding: 20px;
  margin-bottom: 20px;
  text-align: center;
  max-width: 600px;
  margin: 20px auto;
}

.card {
  background-color: #eceff1;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(33.333% - 20px);
}

.card img,
.card video {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}

.content {
  text-align: center;
  padding: 20px;
}

.content h2 {
  margin-top: 0;
  color: #00796b;
}

.content p {
  margin-bottom: 0;
}

#portfolio .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.text {
  width: 60%;
}

.content-1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
  flex-wrap: wrap;
}

.text {
  flex: 1;
  padding: 20px;
}

.imgAboutMe {
  width: 300px;
  height: auto;
  margin: 20px;
}

#welcome {
  position: relative;
  width: 100%;
  height: auto;
  display: block;
  padding-bottom: 50px;
}

#welcome .overlay {
  position: absolute;
  font-size: 22px;
  top: 55vh;
  left: 50%;
  transform: translateX(-50%);
  background-color: #2f4f4f;
  padding: 20px;
  border-radius: 5px;
  color: white;
  text-align: center;
  z-index: 1;
  max-width: 90%;
}

#welcome h2 {
  margin: 0;
}

/* Responsive Styles */
@media (max-width: 1200px) {
  .card {
    width: calc(50% - 20px);
  }
}

@media (max-width: 768px) {
  nav ul {
    flex-direction: column;
    font-size: 20px;
  }

  nav li {
    margin-left: 0;
    margin-bottom: 10px;
  }

  .content-wrapper {
    flex-direction: column;
  }

  .text {
    width: 100%;
    padding-right: 0;
    margin-bottom: 20px;
  }

  .imgAboutMe {
    width: 100%;
    max-width: 300px;
  }

  .card {
    width: calc(100% - 20px);
  }

  .portfolio-item {
    margin: 10px 0;
  }
}

@media (max-width: 480px) {
  header {
    flex-direction: column;
    text-align: center;
  }

  nav ul {
    margin: 0;
  }

  nav li {
    margin-left: 0;
  }

  header h1 {
    margin-bottom: 10px;
  }

  .titel {
    font-size: 30px;
  }

  .skillTitle {
    margin-left: 0;
  }

  .info-box {
    margin: 20px 10px;
  }

  .input,
  .inputNachricht,
  .submit {
    font-size: 16px;
  }

  .Instagram,
  .Twitter {
    font-size: 18px;
    width: 100%;
    height: auto;
    margin-top: 20px;
  }
}
